
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/workspace.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/sf5api.iml
/.idea/vcs.xml

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
/.idea/dataSources/94aba277-b586-4f70-b820-1c2668f4b887.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dataSources/94aba277-b586-4f70-b820-1c2668f4b887/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
